<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<script>
    const boardReport = {
        boardReportId: null,
        boardId: null,
        userId: null,
        content: null,
        createdAt: null,
        updatedAt: null,
        deletedAt: null,
    }

    $(document).ready(function () {
        boardReport.boardReportId = `[[${boardReport.boardReportId}]]`
        boardReport.boardId = `[[${boardReport.boardId}]]`
        boardReport.userId = `[[${boardReport.userId}]]`
        boardReport.content = `[[${boardReport.content}]]`
        boardReport.createdAt = `[[${boardReport.createdAt}]]`
        boardReport.updatedAt = `[[${boardReport.updatedAt}]]`
        boardReport.deletedAt = `[[${boardReport.deletedAt}]]`
    });
</script>
<body>
<div class="container">
    <div class="row justify-content-end mb-4">
        <div class="col-auto">
            <input type="button" class="btn btn-secondary" value="나가기" onclick="history.back()">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            게시글 신고 상세
        </div>
        <div class="card-body">
            <h3>게시글 신고</h3>
            <div class="row mb-3">
                <label for="board-report-id" class="form-label">게시글 신고 Id</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="board-report-id" th:value="${boardReport.boardReportId}" disabled>
                </div>
            </div>
            <div class="row mb-3" id="title-row">
                <label for="board-report-content" class="form-label">신고 내용</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="board-report-content" th:value="${boardReport.content}" disabled>
                </div>
            </div>
            <div class="row mb-3" id="content-row">
                <label for="updated-at" class="form-label">접수 시간</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="updated-at" th:value="${boardReport.updatedAt}" disabled>
                </div>
            </div>
            <div class="row mb-3" id="link">
                <div class="justify-content-end">
                    <a th:href="@{/backoffice/v2/board/boards/{boardId}(boardId = ${boardReport.boardId})}">게시글 보기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>